
#bottomDiv{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;    
  height: 70px;
  border-top: 8px solid #4aaaa5;
  background-color:#666666;
    
}

#copyR {
  text-align: center;
  bottom: 0;
  font-size: 12px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 30px;
}

.navbar-brand{
  background-color:#4aaaa5;
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #ffffff;
  font-weight: bold;
}

#theAbout {
  color: #4aaaa5;
}

body  {
  background-image: url("../images/checkerboard-cross.png");
}
/*media query here*/
@media screen and (max-width:768px) {
  div{height: 400px;
  }
  .wrapper {
    width: 100%;
    padding: 20px;
  }
  #main-content,
  #sidebar{
    width: 100%;
  }
  #sidebar {
    margin-top: 40px;
  }
}